{% extends "base.html" %}
{% block title %} Crear Alquiler {% endblock %}
{% block content %}
<section class="section">
  {% if request.method == "GET"%}
    <h1>Editar ALQUILER</h1>
    {%if request.user.is_superuser%}
      <div class="formContainer">
        <form action="" method="POST" enctype="multipart/form-data"> <!-- en acction no va nada ya qeu utiliza la misma url -->

          {% csrf_token %} 
          <legend>Editar Alquiler</legend>

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder= "Nombre de la vivienda" value="{{alquiler.nombre}}" required>
          </div>

          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion de la vivienda" value="{{alquiler.descripcion}}" required>  
          </div>

          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" placeholder="Costo Alquiler" value="{{alquiler.precio}}" required>
          </div>

          <div class="form-group">
            <label for="ambientes">Ambientes</label>
            <input type="number" name="ambientes" id="ambientes" placeholder="ambientes de la Propiedad" value="{{alquiler.ambientes}}" required>
          </div>

          <div class="form-group">
            <label for="expensas">Paga expensas</label>
            <!-- input with options true or false -->
            <select name="expensas" id="expensas" required>
              <option value="True">Si</option>
              <option value="False">No</option>          
            </select>
          </div>

          <div class="form-group">        
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" id="imagen" value="{{alquiler.imagen}}" required>    
          </div>

            
          </div>
          <div class="form-group">
            <button type="submit" className="addBtn">EDITAR</button>
          </div>
        </form>
        
      </div>
    {% else %}
      <h3>No tiene permiso para acceder</h3>
    {% endif %} 

  {% else %}

    <h1>Propiedad Editada</h1>  
    <a href="/alquileres/list-alquileres">Listado de Alquileres</a>
      
  {% endif %}
</section>
{% endblock %}