{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}
<section class="section">
  <div id="about">
    <div class="aboutContainer">      
      <h1>NOSOTROS</h1> 
      <h2>Bienvenido a Aguilera Inmobiliaria</h2>
      <p>Somos una empresa constructora con sede en Villa María, Córdoba, Argentina que cumple sueños de grandes y pequeños inversores desde el año 2000.</p>
      <p>Nuestra experiencia es el resultado de ofrecer calidad y el mejor servicio a cada paso, haciendo de la experiencia de construir, una experiencia transparecte y placentera.</p>      
      <p>La mejora continua, la innovación y la confianza son nuestros motores para construir un futuro mejor para todos.</p>
    </div>
  </div>
</section>    
{% endblock %}